@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-position: center;
}

.title{
    padding-top: 30px;
    font-size: 50px;
    text-align: center;
    color: orange;
}

.weather-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.player-button{
    border: none;
    border-radius: 15px;
}

.audio-container{
    margin: 0px 15px;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    cursor: pointer;
    .weather-img{
        width: 50px;
        height: 50px;
        transition: all 0.3s ease;
    }

    .audio-playing .weather-img {
        mask-image: url('../../public/assets/icons/pause.svg');
        -webkit-mask-image: url('../../public/assets/icons/pause.svg');
    }
}


.sun{
    background: no-repeat center/cover url("../../public/assets/summer-bg.jpg");
}

.rain{
    background: no-repeat center/cover url("../../public/assets/rainy-bg.jpg");
}

.snow{
    background: no-repeat center/cover url("../../public/assets/winter-bg.jpg");
}

.custom-audio-player {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}

#audio-element {
    display: none;
}

.volume-control {
  position: relative;
  height: 8px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  
  .volume-bar {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #4285f4;
    border-radius: 4px;
  }
  
  .volume-handle {
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border: 2px solid #4285f4;
    border-radius: 50%;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
  }
}